{{> header }}



<div id="id">    
    <div class="container">
        <form role="form" method="post" action="/auth/login">
			<fieldset>							
				<h1 class="text-uppercase pull-center"> LOGIN.</h1>	

				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
				</div>
 				<div>
 					<input type="submit" class="btn btn-md btn-primary mt-10" value="Login">
 				</div>
			</fieldset>
		</form>
		<p>Dont have an account signup <a href="/auth/signup">here</a></p>
    </div>

</div>



{{> footer-end }}