{{> header }}

<div id="id">    
    <div class="container">
        <h1 class="mb-5">Your Prefered Shops</h1>
        <div class="row">
            {{#each shops}}
            <div class="col-3">
                <div class="well">
                    <h5 class="card-title">{{this.name}}</h5>
                    <img src="{{this.image_path}}" class="card-img-top" alt="Shop image">

                    <div class="mt-3 mb-4">
                        <a href="/shop/dislike/{{this.store_id}}" class="btn btn-danger">Dislike</a> 
                    </div>
                    
                </div>
            </div>
            {{else}}
                <p class="empty">No Shops Liked Yet</p>
            {{/each}}
        </div>
    </div>
</div>


{{> footer-end }}